.hero-background {
  background-image: url("../img/low-angle-photo-of-balconies-2462015 1.jpg");
  background-position: center center;
  background-size: cover;
  transform: scale(-1, 1);
}

.about-worker {
  background-image: url("../img/worker.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  background-image: url("../img/box.svg");
  background-repeat: no-repeat;
  background-position: 60px center;
}

.gear {
  background-image: url("../img/gear.svg");
  background-repeat: no-repeat;
  background-position: 60px center;
}

.bg-macbook {
  background-image: url("../img/macbook.jpg");
  background-position: center center;
  background-size: cover;
}
