html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: normal;
  /*font-size: 0;*/
  background-color: #F5F5F5;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  background-color: #FFF;
  height: 90px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32), 0 9px 27px 0 rgba(176, 190, 197, 0.32);
}

.logo {
  margin-right: 53px;
}

.search_form__input {
  width: 581px;
  height: 44px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  color: #B0B0B0;
  font-size: 14px;
  padding: 16px 12px;
}

.main {
  padding: 40px 0;
}

.title {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333333;
}

.table_id {
  width: 5%;
  text-align: center;
}

.table_username,
.table_actions {
  width: 25%;
}

.table_create,
.table_update,
.table_contact {
  width: 15%;
}

.table_head {
  color: #B0B0B0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 984px;
  margin-bottom: 8px;
}

.tbody {
  background-color: #FFFFFF;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: auto;
}

.await {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.btn_add {
  padding: 13px 26px;
  border: 1px solid #9873FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #9873FF;
  cursor: pointer;
}

.btn_add svg {
  margin-right: 10px;
}

.justify-content-center {
  justify-content: center;
}

.bgModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, .6);
  cursor: pointer;
}

.bgModal:focus {
  visibility: hidden;
}

/*.modal-hidden {*/
/*  display: none;*/
/*}*/

.win-confirm {
  position: relative;
  width: 450px;
  height: 215px;
  background: #FFF;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.15);
}