html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: lightblue;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*.all-wrap {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.table-wrap {
    /*border: 1px solid;*/
    height: 400px;
    overflow: auto;
}

.t-row:not(:last-child) {
    border-bottom: 1px solid;
}

.table {
    border: none;
    min-width: 800px;
    width: 100%;
    border-collapse: collapse;
}

.table-heading {
    position: sticky;
    top: -1px;
    z-index: 1;
    background-color: lightblue;
}

.table-body {
    background-color: white;
}

.th-cell,
.td-cell {
    padding: 40px;
    font-size: 20px;
    text-align: left;
}

.tip {
    position: relative;
    display: inline-block;
    padding: 5px 11px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: gray;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tip:hover {
    background-color: green;
}

.tip:hover .tooltip,
.tip:focus .tooltip {
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: 2;
    display: block;
    max-width: 300px;
    width: max-content;
    min-width: 100px;
    padding: 20px;
    color: #fff;
    background-color: #666666;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: opacity 0.5s ease;
}

.tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 8px;
    height: 8px;
    background-color: #666666;
    transform: translateX(-50%) rotate(45deg);
}
